<h3>Signup form for ember test demo app</h3>
<form {{action 'save' on='submit'}}>
  {{input value=email type="text"}}
  {{input value=password type="password"}}
  <button type="submit">Submit</button>
</form>